<nav class="navbar navbar-expand-lg bg-body-light mx-3">
    <div class="container-fluid mx-3">
        <a class="navbar-brand  poppins-semibold text-dark" href="#">Reminder</a>
        <a class="nav-link" aria-current="page" href="#"><i class="fa fa-plus"
            style="font-size: 20px; "></i></a>
    </div>
</nav>
<div class="col bg-dark m-1" style="height: 100vh;border-radius: 20px;">
    <div class="row mx-2 pt-3">
        <div class="col-3 ">
            <p class="text-light poppins-regular">Task List</p>
        </div>
        <div class="col-9">
            <hr  style="border-width: 3px;color: white;">
        </div>
    </div>
    
    
    <app-taskcart></app-taskcart>
</div>
