<div class="row mx-3 my-2 bg-primary p-3" style="border-radius: 10px;">
    <div class="col-1">
        <i class="fa fa-circle text-light"></i>
    </div>
    <div class="col-8 poppins-light text-light">
        Do Angular app
    </div>
    <div class="col-3 ">
        <i class="fa fa-times text-light" style="font-size: 20px; font-weight: 300; margin-right: 25px;"></i>
        <i class="fa fa-edit text-light" style="font-size: 18px;"></i>
    </div>

</div>

<div class="row mx-3 my-2 bg-primary p-3" style="border-radius: 10px;">
    <div class="col-1">
        <i class="fa fa-circle"></i>
    </div>
    <div class="col-8 poppins-light">
    Fix Network Issue 
    </div>
    <div class="col-3 ">
        <i class="fa fa-times" style="font-size: 20px; font-weight: 300; margin-right: 25px;"></i>
        <i class="fa fa-edit" style="font-size: 18px;"></i>
    </div>

</div>

<div class="row mx-3 my-2 bg-primary p-3" style="border-radius: 10px;">
    <div class="col-1">
        <i class="fa fa-circle"></i>
    </div>
    <div class="col-8 poppins-light">
        OS Update
    </div>
    <div class="col-3 ">
        <i class="fa fa-times" style="font-size: 20px; font-weight: 300; margin-right: 25px;"></i>
        <i class="fa fa-edit" style="font-size: 18px;"></i>
    </div>

</div>
